* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #111827; /* warna teks default */
}

.container {
    text-align: center;
    padding: 40px;
}

/* Judul */
h1 {
    margin-bottom: 20px;
    padding-top: 30px;
    color: #2061ec; /* biru */
}

h3 {
    margin-right: 150px;
    color: #1f2937;
}

/* Button tambah */
.btn-add {
    background-color: #1998ff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 30px;
}

/* Card */
.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-top: solid 7px #2061ec;
}

/* Judul di card */
.card h3 {
    margin-bottom: 10px;
    color: #1f2937;
}

/* Text isi card */
.card p {
    font-size: 14px;
    margin-bottom: 6px;
    color: #4b5563;
    margin-right: 150px;
}

/* Button wrapper */
.card-btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Button edit */
.btn-edit {
    background-color: #10a51c;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
}

/* Button hapus */
.btn-delete {
    background-color: #8b1407;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 150px;
}

/* Modal backdrop */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Judul modal */
.modal h3 {
    margin-bottom: 15px;
    color: #1f2937;
    text-align: center;
}

/* Input & select */
.modal input,
.modal select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

/* Focus input */
.modal input:focus,
.modal select:focus {
    outline: none;
    border-color: #2061ec;
}

/* Button modal */
.modal button {
    width: 100%;
    padding: 10px;
    background-color: #2061ec;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.modal button:hover {
    background-color: #1a4fd8;
}
